page-home {
    .oiu{
        overflow-x:scroll;
    }
	.Hello{
		
	}
    .Itemes{
        width:50%;
        float: left;
    }
    .OneItemBg{
        background: #eee;
    
    }
    .nopadtop{
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;
    }
  
    .upmargin{
        margin: 13px 0px 13px 0;
    }
    .OneItem{
        margin-bottom: 10px;
       
    }
    .OneItemup{
margin: 0;
    }
    .OneItem .item-inner{
        padding-right:0 !important;    }
    .list-md .item-block .item-inner{
        border:none;
    } 
    .swiper-slide .slide-zoom img
    {
        width: 100%;
        max-width: unset;
        max-height: unset;
    }
    p.Cert {
        background: #c90a0f;
        width: auto;
        display: inline-block;
        padding: 5px 8px;
        color: #fff;
        margin-right: 5px;
        margin-top: 7px;
    }
    button.button-md-myred {
        height: 15px;
        font-size: 1rem;
        font-weight: normal;
        padding: 13px 8px;
        text-transform: capitalize;
        float: right;
    }
    .item-md ion-thumbnail[item-start]{
        margin:0 !important;
    }
    .date{
margin:0 0 0 0;

        background-color:#e4e4e4;
    }
    .oiu {
        width: 100%;
        overflow-x: scroll;
        background: #333;
        padding: 10px; 
        padding-right: 20px;
    }
    .aeiou {
        width: 2500px;
    }
    .Itemes {
        float: left;
        width: 100px;
        min-height:150px;
        margin:10px;
    }   
    .TheatreImg{
        width: 100%;
        height:115px;
    }    
    .Itemes p{
        text-align:center;
        color: #fff;
    }
}
